[submodule "iadecor"]
	path = iadecor
	url = https://github.com/InnovAnon-Inc/iadecor.git
[submodule "iafakery"]
	path = iafakery
	url = https://github.com/InnovAnon-Inc/iafakery.git
[submodule "iadiscordia"]
	path = iadiscordia
	url = https://github.com/InnovAnon-Inc/iadiscordia.git
[submodule "iaenhance"]
	path = iaenhance
	url = https://github.com/InnovAnon-Inc/iaenhance.git
[submodule "iapooper"]
	path = iapooper
	url = https://github.com/InnovAnon-Inc/iapooper.git
[submodule "iaskills"]
	path = iaskills
	url = https://github.com/InnovAnon-Inc/iaskills.git
[submodule "iasleep"]
	path = iasleep
	url = https://github.com/InnovAnon-Inc/iasleep.git
[submodule "working_villages"]
	path = working_villages
	url = https://github.com/InnovAnon-Inc/working_villages.git
[submodule "iaspawn"]
	path = iaspawn
	url = https://github.com/InnovAnon-Inc/iaspawn.git
[submodule "ianews"]
	path = ianews
	url = https://github.com/InnovAnon-Inc/ianews.git
[submodule "iaroko"]
	path = iaroko
	url = https://github.com/InnovAnon-Inc/iaroko.git
[submodule "iagauntlet"]
	path = iagauntlet
	url = https://github.com/InnovAnon-Inc/iagauntlet.git
[submodule "iamedusa"]
	path = iamedusa
	url = https://github.com/InnovAnon-Inc/iamedusa.git
[submodule "ialazor"]
	path = ialazor
	url = https://github.com/InnovAnon-Inc/ialazor.git
[submodule "iaflyingships"]
	path = iaflyingships
	url = https://github.com/InnovAnon-Inc/iaflyingships.git
